body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, verdana, sans-serif;
    font-size: 120%;
}

h1 {
    font-size: 4.5rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 0;
}

h2 {
    font-size: 1.9rem;
    font-weight: normal;
    color: #66BFBF;
    padding: 10px;
}

.h2c {
    color: #66BFBF;
    font-size: 1.1rem;
}

h3 {
    color: #11999E;
}

p {
    line-height: 2;
}


.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;

}

.html-img {
    width: 15%;
    float: left;
    margin-right: 20px
}

.css-img {
    width: 15%;
    float: right;
    margin-left: 20px;
}

hr {
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.intro {
    width: 30%;
    margin: auto;
}

.top-div {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}

.mid-div {
    margin: 100px 0;
}

.bot-div {
    background-color: #66BFBF;
    position: relative;
    padding: 50px 0 20px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bot-cloud {
    position: absolute;
    left: 300px;
    bottom: 250px;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, verdana, sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
}

a {
    color: #11999E;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif, verdana, sans-serif;
    margin: 10px 20px;
}

a:hover {
    color: #eaf6f6;
}

.footer-link {
    text-decoration: none;
}

.copy {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}